.banner-section {
    background: url(../img/Group\ 19.png);
    background-size: 100% 100%;
    padding-top: 25vh;
    padding-bottom: 15vh;
}

.banner-content h1 {
    font-size: 68px;
    font-weight: 700;
    color: #707070;
}

.banner-content span {
    font-size: 68px;
    font-weight: 700;
    color: #fff;
}

.banner-content h4 {
    font-size: 35px;
    color: #707070;
    letter-spacing: 4px;
}

.banner-content h5 {
    font-size: 34px;
    color: #f18ab1;
    letter-spacing: 4px;
}


/* Extra file */

.mobile_div_outer {
    width: 280px;
    height: 563px;
    border: 7px solid var(--lightBorder);
    border-radius: 40px;
    overflow: hidden;
    z-index: 999;
}

.mobile_div_inner {
    width: 100%;
    height: 100%;
    border: 12px solid var(--dark);
    border-radius: 30px;
    background-color: var(--dark);
}

.screen {
    width: 100%;
    height: 100%;
    /* background-image: url(../img/shop.cf037be9.jpg); */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    opacity: 1;
    animation: screen 2.1s ease;
    transition: all 0.2s ease;
}


/* Extra file */


/* Animtion Div */

.animationText_div {
    border: none;
    font-weight: bold;
}

.contant .animationText {
    font-size: 2rem;
    font-weight: bold;
}

.animationLine {
    width: 80%;
    height: 3px;
    background-image: linear-gradient(to left, #ff7ba7, #e19ff2, #9fc8ff, #66e8ff, #82feff);
    margin-bottom: 10px;
}

.mobile_div_inner img {
    border-radius: 25px;
}


/* Animtion Div */

.donutBg {
    background-image: url("../img/donut.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* product  box  */

.product-box {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 40px;
}

.product-box-blue {
    background: linear-gradient(to left, rgba(154, 242, 246, 0.35) 0%, #9cf1f6 100%);
}

.product-box-pink {
    background: linear-gradient(to left, rgba(234, 85, 177, 0.39) 0%, rgba(249, 40, 159, 0.63) 100%);
}

.product-box-purple {
    background: linear-gradient(to left, rgba(220, 109, 247, 0.54) 0%, rgba(135, 9, 255, 0.31) 96.22%, #8405ff30 100%);
}


/* What is tappeo */

.what-is-tapeeo h2,
.what-is-tapeeo h4 {
    color: #d33696;
}

.animationLinetappeo {
    width: 20%;
    height: 3px;
    background-image: linear-gradient(to left, #ff7ba7, #e19ff2, #9fc8ff, #66e8ff, #82feff);
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.what-is-text h4 {
    letter-spacing: 1.8px;
    font-weight: 700;
}

.what-is-content {
    font-size: 29px;
    letter-spacing: 1.8px;
}


/* steps-tapeoo */

.steps-tapeoo h6 {
    font-weight: 600;
    font-size: 18px;
}

.step-2-text p {
    font-weight: 600;
    font-size: 20px;
}

.border-right-white {
    border-right: 2px solid #fff;
}

.ContentBx h4 {
    font-size: 24px;
    font-weight: 600;
}

.sec-3-bg-img {
    background: url("../img/Rectangle 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    border-radius: 30px;
}

.how-to-share-bg {
    background: url("../img/Group\ 17.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    padding-top: 150px;
}


/*  */

.cardFr {
    text-align: center;
    border: none;
    border-radius: 10px;
    color: var(--mainColor);
    padding: 0.4rem 0.2rem;
    transition: all 0.4s ease;
    padding: 10px 20px;
}

.svg-step {
    height: 75px;
    width: 75px;
    line-height: 52px;
    background-color: #fff;
    cursor: pointer;
}

.svg-step:hover {
    background: linear-gradient(to left, rgba(234, 85, 177, 0.39) 0%, rgba(249, 40, 159, 0.63) 100%);
}

.svg-step:hover svg {
    fill: #fff;
}

.svg-step.active_div {
    background: linear-gradient(to left, rgba(234, 85, 177, 0.39) 0%, rgba(249, 40, 159, 0.63) 100%);
}

.svg-step.active_div>svg {
    fill: #fff;
}

.cardFr p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.sectionContent {
    display: flex;
}


/* Section Five */


/* Extra */




/* Extra */