.heading-color{
    color: #D33696;
}
.cart-section tbody{
    background-color: #B9F4F539;
    border-radius: 20px !important;
}
.cart-section tbody input{
    width: 50px !important;
}
.cart-section tbody tr{
    vertical-align: middle;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.cart-section tbody td{
    border: none;
}
.cart-section tbody  small a i{
    font-size: 14px !important;
    color: #707070 !important;
}

.cart-section tbody .detailsrow{
    display: flex;
    flex-wrap: nowrap;
    
}
.cart-section tbody .detailsrow img{
    width: 60px !important;
    margin-right: 20px;
}
.cart-section tbody  small{
    padding-right: 10px;
}
.cart-section .order-summary{
    background-color: #F4CBDB52;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.10);
    padding: 30px  !important;
}
.cart-section .order-summary .product-details{
    display: flex;
    justify-content: space-between;
}
.cart-section .order-summary .shipping select{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.40);
    padding: 10px 20px;
}
.cart-section .order-summary .btn{
    box-shadow: 0 0 30px 0 rgba(0,0,0,.10);
}
.cart-section .order-summary h6{
    color: unset !important;
} 