.dashboard-div{
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);

    border-radius: 15px;
}
.dashboard-head{
    border-bottom: 1px solid #eee;
    padding: 20px;
    
}
.details-dasboard{
    box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.10);
    padding: 20px;
    border-radius: 15px;
}
.dashboard-content{
    padding: 20px;
}
/* order */
.order-dashboard{
    box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.10);
    padding: 20px;
    border-radius: 15px;
}
.order-success h6 , .order-success i{
    color: #3CE981;
}
.order-pink{
    background: #F882AC17;
}
.order-blue{
    background: #B9F4F5;
}
.order-card{
    padding: 20px;
    border-radius:15px;
}