.sign-main,.login-main{
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
    padding: 3vh;
}
.login-bg-image{
    background: url(../img/donut.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    padding: 7vh;
}

.login-background{
    background-color: #B9F4F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-form-image{
    width: 200px;
}
.background-icon{
    background-color: #B9F4F5;
    color: rgba(0, 0, 0, 0.644);
}
.btn-sign{
    background-color: #FF7BA7;
    color: white;
    padding: 10px 40px !important;
    border-radius: 50px ;
    transition: all .5s;
}
.btn-sign:hover{
    
    color: white;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}
.loginpage .login-background,
.loginpage .login-main{
    height: 450px;
}

.loginpage .sign-background,
.loginpage .sign-main{
    height: 550px;

}

.sign-background{
    background-color: #B9F4F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sign-form-image{
    width: 200px;
}
.btn-forget{
    padding: 15px 20px !important;
    background-color: #FF7BA7;
    color: white;
}
/* .forget .form-control{
    border-radius: 0px !important;
} */
