.mobile-nav {
	background-color: #9FDEEA;
	padding: 7px;
	position: fixed;
	z-index: 99999;
	width: 100%;
	bottom: 0;
}
.nav-dount {
	background: url('../img/nav donut.png');
	background-repeat: no-repeat;
	background-size: 100% 167%;
	padding: 0 30px;
	background-position-y: 40%;
}
.nav-dount-icon {
	background: #fff;
	border-radius: 50%;
	padding: 10px;
	height: 65px;
	width: 65px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
