/* order */
.order-card{
    padding: 20px;
    border-radius:15px;
    background-color: #fff;
}
.order-dashboard{
    box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.10);
    padding: 20px;
    border-radius: 15px;
}
.order-success h6 , .order-success i{
    color: #3CE981;
}
.order-pink{
    background: #F882AC19;
}
.order-blue{
    background: #B9F4F5;
}
.box-shadow{
    box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.10);
}
.order-card table td{
    padding: 10px;
    border: none !important;
    border-style: none !important;
}
.order-card table tr {
    border: 1px solid white;
    border-radius: 20px !important
}
.order-main p ,.order-main h6{
    margin-bottom: 0 !important;
}