@media only screen and (min-width: 320px) and (max-width: 746px) {
    .mobile-nav h6 {
        display: none;
    }
    .footer-bg {
        padding-bottom: 90px;
    }
    figure figcaption {
        justify-content: center;
    }
    figure {
        display: block;
    }
    .order-track {
        padding: 0;
        padding-top: 1rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 468px) {
    .nav-icon .fab {
        right: 10px;
    }
    .order-track-step {
        display: flex;
        height: 10rem;
    }
    .order-track-step:first-child {
        display: flex;
        height: 8rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 746px) {
    .mobile-nav h6 {
        display: none;
    }
    .footer-bg {
        padding-bottom: 90px;
    }
    figure figcaption {
        justify-content: center;
    }
    figure {
        display: block;
    }
    .order-track {
        padding: 0;
        padding-top: 1rem;
    }
    .table-scrollable{
        overflow-x: auto;
        max-width: 600px;
        box-shadow: inset 0 0 5px rgba(150, 150 ,150,0.35);
        margin: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 468px) {
    .nav-icon .fab {
        right: 10px;
    }
    .cart-section tbody .detailsrow{
        width: 225px;
    }
    .cart-section tbody .quantity{
        width: 120px;
    }
    .cart-section tbody .cart-price, .cart-section tbody .cart-total{
        width: 100px;
    }
}