.track-main-card{
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
}




figure {
    display: flex;
  }
  figure img {
    width: 9rem;
    height: 7rem;
    border-radius: 15%;
    /* border: 1.5px solid #ff7ba7; */
    margin-right: 1.5rem;
    padding:1rem;
  }
  figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  figure figcaption h4 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  figure figcaption h6 {
    font-size: 1rem;
    font-weight: 300;
  }
  figure figcaption h2 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  .order-track {
    margin-top: 2rem;
    padding: 0 1rem;
    border-top: 1px dashed #2c3e50;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .order-track-step {
    display: flex;
    height: 7rem;
  }
  .order-track-step:last-child {
    overflow: hidden;
    height: 4rem;
  }
  .order-track-step:last-child .order-track-status span:last-of-type {
    display: none;
  }
  .order-track-status {
    margin-right: 1.5rem;
    position: relative;
  }
  .order-track-status-dot {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-image: linear-gradient(to left, #ff7ba7, #e19ff2, #9fc8ff, #66e8ff, #82feff);
  }
  .order-track-status-dot-blank {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background:#fff;
    border:2px solid #e19ff2;
  }
  .order-track-status-line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 7rem;
    background-image: linear-gradient(to left, #ff7ba7, #e19ff2, #9fc8ff, #66e8ff, #82feff);
  }
  .order-track-text-stat {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .order-track-text-sub {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .order-track {
    transition: all .3s height 0.3s;
    transform-origin: top center;
  }